<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <groups>
        <run>
            <include name ="smoke"/>
            <exclude name ="smoke"/>
        </run>
    </groups>
    <test name="Grouping">
        <classes>
            <class name="GroupingEx"></class>

        </classes>
    </test>
</suite>


